<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Shopping List </title>
    <meta name = "description" content = "Hello World">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <style>
    .itemContainer{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .table-striped{
        max-width: 30em;
    }

  </style>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="../public/js/app.js"></script>

  </head>
  <body>

    <div class = "container">
        <table class = "table table-hover form-inline">
          <tr>
            <div class = "col-md-4">
              <td><b> ITEM </b></td>
            </div>
            <div class = "col-md-4">
              <td><b> QUANTITY </b></td>
            </div>
            <div class = "col-md-4">
              <td><b> PRICE </b></td>
            </div>
          </tr>
          <tr class = "info form-inline">
            <td><input type = "text" id = "item" class = "form-control"></td>
            <td><input type = "text" id = "quantity" class = "form-control"></td>
            <td><input type = "text" id = "price" class = "form-control"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class = "container">
      <div class = "pull-right"> <button type = "submit" id="submitButton" class = "btn btn-primary">Submit</button> </div>
    </div>

    <div class="container">           
        <table class="table table-striped">
            <thead>
                <th>Current List</th>
            </thead>
            <tbody class="itemContainer">
            </tbody>
        </table>
    </div>

    <div class = "container">
      <div> <button type = "remove" id="removeButton" class = "btn btn-primary">Remove Last Item</button> </div>
    </div>
    



  <!-- Latest compiled and minified JavaScript -->
  <script src = "http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </body>
</html>